# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.prototyping_workshop.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Pascal\Uni\M. 1. Semester\Prototyping\prototyping_workshop\.idea\.idea.prototyping_workshop.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
